.modal_avatar{
    display: flex;
    width: 266px;
    height: 103px;
    border-radius: 21px;
    border: 1px dashed #D9D9D9;
    cursor: pointer;
}
.modal_avatar img{
    padding: 6px;
    border-radius: 50%;
}
.modal_avatar p{
    font-family: Poppins,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.13px;
    padding-top: 31px;
    height: 40px;
    width: 128px;
    text-align: left;
    margin-left: 11px;
}


.modal_fields{
    padding-top: 27px;
}
.modal_fields_input{
    padding-left: 13px;
    display: block;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    background: #FFF;
    outline: none;
    font-family: Poppins,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #192A3E;
    width: 450px;
    height: 34px;
}
.modal_skill{
    display: flex;
    padding-bottom: 20px;
}
.modal_skill p {
    font-family: Poppins,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.13px;
    color: #000;
    width: 50px;
    text-align: left;
    padding-top: 6px;
}
.modal_skill_buttons{
    margin-left: 48px;
    display: flex;
    border-radius: 16px;
    border: 1px solid #C7C7C7;
    width: 101px;
    height: 32px;
    justify-content: space-between;
    padding: 1px;
}
.modal_skill_button{
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-style: normal;
    font-weight: 600;
    width: 28px;
    height: 28px;
    color: #fff;
    border-radius: 50%;
    background: #109CF1;
    box-shadow: 0 4px 10px 0 rgba(16, 156, 241, 0.24);
    border: none;
}
.modal_skill_value{
    padding-top: 5px;
    color: #000;
    font-family: Poppins,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.13px;
}
.modal_button_add{
    cursor: pointer;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 160px;
    height: 42px;
    color: #fff;
    border-radius: 4px;
    background: #109CF1;
    box-shadow: 0 4px 10px 0 rgba(16, 156, 241, 0.24);
    border: none;
    margin-left: 20px;
}

.modal_footer{
    display: flex;
    justify-content: space-between;
    padding-left: 116px;
    padding-top: 50px;
}
.modal_footer_cancel{
    border-radius: 4px;
    background: #90A0B7;
    box-shadow: 0 4px 10px 0 rgba(16, 156, 241, 0.24);
}